
.head-user {
  background-color: #f7f7f7;
  padding: 12px 0;
}

.head-user .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 40px;

  & .links {
    font-size: 0.9rem;
  }
}

.head-user .btn-link {
  font-size: 0.9rem;
  color: #05be50;
  padding: 0;
  margin: 0 3px;
}