<div class="glide" id="slider-banner">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="banner glide__slide launch-animation-image">
        <div class="overflow">
          <div class="content">
            <div>
              <h2>Encuentra lo que necesitas en Interbank Benefit</h2>
              <h3>Usa tus Millas y combina el pago con tus Tarjetas Interbank</h3>
              <button class="btn btn-primary">Canjea hoy</button>
            </div>
          </div>
          <img
            src="https://static.interbankbenefit.pe/public/web/images/evento/banner/banner Productos Benefit web (1).png"
            alt="Banco">
        </div>
      </li>
      <li class="banner glide__slide launch-animation-image">
        <div class="overflow">
          <div class="content">
            <div>
              <h2>¡Usa tus Millas Benefit como ahorro!</h2>
              <h3>Canjea tus compras con Millas o combinando con tu Tarjeta de Crédito Interbank.
                Disponible en todos nuestros canales</h3>
                <button class="btn btn-primary">Conoce más</button>
            </div>
          </div><img src="https://static.interbankbenefit.pe/public/web/images/evento/banner/Banner_1440x440_gg.gif"
            alt="BANCO">
        </div>
      </li>
      <li class="banner glide__slide launch-animation-image">
        <div class="overflow">
          <div class="content">
            <div>
              <h2>¡Disfruta tus Millas en restaurantes!</h2>
              <h3>Ya puedes pagar ese antojo con tus Millas Benefit en los POS de restaurantes, combina el pago con tu
                Tarjeta Interbank</h3>
                <button class="btn btn-primary">Conoce más</button>
            </div>
          </div><img src="https://static.interbankbenefit.pe/public/web/images/evento/banner/banner_4.07.png"
            alt="Banner Restaurantes">
        </div>
      </li>
      <li class="banner glide__slide launch-animation-image">
        <div class="overflow">
          <div class="content">
            <div><h2>¡Disfruta tus Millas Benefit en Rappi!</h2>
              <h3>Canjea tus Millas por RappiCréditos y aprovéchalas en restaurantes, farmacias, courier y mucho más.</h3>
              <button class="btn btn-primary">Conoce más</button>
            </div>
          </div>
          <img src="https://static.interbankbenefit.pe/public/web/images/evento/banner/banner_1440x440_08.png"
            alt="Banco">
        </div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>